﻿@model EgtViewModel

@{
    Layout = null;
}

<div class="modal" id="js-entity-action-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Egt offer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form asp-controller="Offer" asp-action="AddEgt" method="post" class="form" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-1 col-md-3"></div>
                                <div class="col-xl-10 col-md-6">

                                    <div class="form-group">
                                        <label asp-for="CategoryId"></label>
                                        <select asp-for="CategoryId" asp-items="Model.Categories" data-placeholder="Provider" class="js-select2-search w-100 form-control form-control-solid"></select>
                                        <div class="fv-plugins-message-container">
                                            <span asp-validation-for="CategoryId" class="fv-help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="ProviderId"></label>
                                        <select asp-for="ProviderId" asp-items="Model.Providers" data-placeholder="Provider" class="js-select2-search w-100 form-control form-control-solid"></select>
                                        <div class="fv-plugins-message-container">
                                            <span asp-validation-for="ProviderId" class="fv-help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="GameType"></label>
                                        <select asp-for="GameType" asp-items="Model.GameTypes" data-placeholder="GameType" class="js-select2-search w-100 form-control form-control-solid"></select>
                                        <div class="fv-plugins-message-container">
                                            <span asp-validation-for="GameType" class="fv-help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="CampaignId"></label>
                                        <input asp-for="CampaignId" data-placeholder="CampaignId" class="w-100 form-control form-control-solid" />
                                        <div class="fv-plugins-message-container">
                                            <span asp-validation-for="CampaignId" class="fv-help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Amount"></label>
                                        <input asp-for="Amount" data-placeholder="Amount" class="w-100 form-control form-control-solid" />
                                        <div class="fv-plugins-message-container">
                                            <span asp-validation-for="Amount" class="fv-help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="ExpireDate"></label>
                                        @Html.EditorFor(m => m.ExpireDate)
                                        <div class="fv-plugins-message-container">
                                            <span asp-validation-for="ExpireDate" class="fv-help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Price"></label>
                                        <input asp-for="Price" data-placeholder="Price" class="w-100 form-control form-control-solid" />
                                        <div class="fv-plugins-message-container">
                                            <span asp-validation-for="Price" class="fv-help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="DiscountedPrice"></label>
                                        <input asp-for="DiscountedPrice" data-placeholder="DiscountedPrice" class="w-100 form-control form-control-solid" />
                                        <div class="fv-plugins-message-container">
                                            <span asp-validation-for="DiscountedPrice" class="fv-help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="FreebetNominal"></label>
                                        <input asp-for="FreebetNominal" data-placeholder="FreebetNominal" class="w-100 form-control form-control-solid" />
                                        <div class="fv-plugins-message-container">
                                            <span asp-validation-for="FreebetNominal" class="fv-help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Thumbnail"></label>
                                        <input asp-for="Thumbnail" data-placeholder="Thumbnail" class="w-100 form-control form-control-solid" />
                                        <div class="fv-plugins-message-container">
                                            <span asp-validation-for="Thumbnail" class="fv-help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Expire"></label>
                                        <input asp-for="Expire" data-placeholder="FreebetNominal" class="w-100 form-control form-control-solid" />
                                        <div class="fv-plugins-message-container">
                                            <span asp-validation-for="Expire" class="fv-help-block"></span>
                                        </div>
                                    </div>

                                    @Html.EditorFor(m => m.GameName, new { TranslationTitle = "Game name" })

                                    @Html.EditorFor(m => m.OfferText, new { TranslationTitle = "Offer text" })

                                </div>
                                <div class="col-xl-1 col-md-3"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary js-entity-action">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>