﻿@model SideMenuModel

<div class="aside-nav d-flex flex-column align-items-center flex-column-fluid pb-10">
    <ul class="nav flex-column">
        @foreach (var sideMenuItem in Model.SideMenuItems.Where(x => x.SideMenuItemPosition == SideMenuItemPosition.Top))
        {
            var menuModel = sideMenuItem.MenuModel;
            var selectedClassName = menuModel.Selected ? "active" : "";

        <li class="nav-item mb-2 @selectedClassName">
            @await Html.PartialAsync("_SideMenuItem", sideMenuItem)
        </li>
        
        }
    </ul>
</div>

<div class="aside-footer d-flex flex-column align-items-center flex-column-auto py-8">
    @foreach (var sideMenuItem in Model.SideMenuItems.Where(x => x.SideMenuItemPosition == SideMenuItemPosition.Bottom))
    {
        @await Html.PartialAsync("_SideMenuItem", sideMenuItem)
    }

    @await Component.InvokeAsync("Language")
</div>

