﻿.kt-search-form {
    display: none;
}

.aside-nav li.active a i {
    color: #8950FC;
}

.aside-footer a.active i {
    color: #8950FC;
}

.w-85 {
    width: 85% !important;
}

.w-90 {
    width: 90% !important;
}

.w-93 {
    width: 93% !important;
}

.w-94 {
    width: 94% !important;
}

.w-95 {
    width: 95% !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    width: 100% !important;
    margin: 0 !important;
    position: absolute;
    bottom: 9px;
}

/*.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    height: calc(1.5em + 1.3rem + 2px) !important;
}*/

.validation-summary-errors ul {
    list-style: none;
    margin: 0;
}

.select2-option-add {
    margin-left: 8px !important;
    margin-bottom: 15px !important;
}

    .select2-option-add a i {
        padding-right: 8px !important;
    }

.swal2-content .inventory-accounting-info {
    text-align: start !important;
}

.validation-summary-errors {
    border: 0 !important;
    border-left: 4px solid #F64E60 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: #FFE2E5 !important;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.675rem;
}

    .validation-summary-errors ul {
        padding: 0 !important;
    }

    .validation-summary-errors li {
        color: #F64E60 !important;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.loader_fixed {
    overflow: hidden;
}

.main_loader {
    background: rgba(24, 97, 214, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 10000;
}

    .main_loader img {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #fff;
        border-radius: 50%;
        padding: 11px;
    }

.flex {
    display: flex;
}

.suggestion-sub {
    padding-top: 1px;
    font-size: 11px;
    opacity: 0.7;
}

.small_add {
    cursor: pointer; 
}
