﻿@model Betasuchus.Application.Commands.UserCommands.ChangePasswordCommand

<div class="modal" id="js-entity-action-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                @using (@Html.BeginForm(FormMethod.Post, new { @class = "form" }))
                {
                    <div class="form-group">
                        <label asp-for="OldPassword">Old Password</label>
                        <input asp-for="OldPassword" type="text" class="form-control form-control-solid" autocomplete="off" />
                        <div class="fv-plugins-message-container">
                            <span asp-validation-for="OldPassword" class="fv-help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="NewPassword">New Password</label>
                        <input asp-for="NewPassword" type="text" class="form-control form-control-solid" autocomplete="off" />
                        <div class="fv-plugins-message-container">
                            <span asp-validation-for="NewPassword" class="fv-help-block"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="ConfirmPassword">Repeat New Password</label>
                        <input asp-for="ConfirmPassword" type="text" class="form-control form-control-solid" autocomplete="off" />
                        <div class="fv-plugins-message-container">
                            <span asp-validation-for="ConfirmPassword" class="fv-help-block"></span>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary js-entity-action">Save</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>