﻿@model Betasuchus.Application.Commands.UserCommands.LoginUserCommand
@{
    ViewData["Title"] = "Login";
    Layout = "_Structure";
}
@section Styles {
    <link href="~/css/login.css" rel="stylesheet" type="text/css" />
}

<!--begin::Main-->
<div class="d-flex flex-column flex-root">
    <!--begin::Login-->
    <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
        <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat">
            <div class="login-form text-center p-7 position-relative overflow-hidden">
                <!--begin::Login Header-->
                <div class="d-flex flex-center mb-15">
                    <a href="#">
                        <img src="~/images/logo.login.png" class="max-h-75px" />
                    </a>
                </div>
                <!--end::Login Header-->
                <!--begin::Login Sign in form-->
                <div class="login-signin">
                    <form class="form" id="kt_login_signin_form" method="post">
                        <div class="form-group mb-5">
                            <input asp-for="UserName" id="username" class="form-control h-auto form-control-solid py-4 px-8" type="text" placeholder="Email" name="username" autocomplete="off" data-username-is-required="FieldIsRequiered" />
                        </div>
                        <div class="form-group mb-5">
                            <input asp-for="Password" id="password" class="form-control h-auto form-control-solid py-4 px-8" type="password" placeholder="Password" name="password" data-password-is-required="FieldIsRequiered" />
                        </div>
                        <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                            <label class="checkbox m-0 text-muted">
                                <input type="checkbox" name="remember" /> RememberMe
                                <span></span>
                            </label>
                        </div>
                        <button id="kt_login_signin_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4" data-submit-error-text="FieldIsRequiered">SignIn</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--end::Login-->
</div>

@section Scripts {
    <script src="~/js/login.js"></script>
    @if (ViewBag.CanNotLogin != null && ViewBag.CanNotLogin)
    {
        <script>
                var erorText = '@ViewBag.ErrorText';
                swal.fire({
                    text: erorText,
                    icon: "error",
                    buttonsStyling: false,
                    confirmButtonText: "Ok",
                    customClass: {
                        confirmButton: "btn font-weight-bold btn-light-primary"
                    }
                }).then(function () {
                    KTUtil.scrollTop();
                });
        </script>
    }
}
