﻿@model Betasuchus.Admin.Models.Account.ProfileViewModel

    <div class="container-fluid">
        <!--begin::Change Password-->
        <div class="card card-custom gutter-b">
            <!--begin::Header-->
            <div class="card-header">
                <h3 class="card-title">
                    Profile
                </h3>
            </div>
            <!--end::Header-->
            <div class="my-5">
                <div class="row">
                    <div class="col-xl-3"></div>
                    <div class="col-xl-6">
                        <p style="font-size: 17px" class="text-dark font-weight-bold mb-10">PersonalInformation</p>
                        <div class="table-responsive col-lg-9">
                            <table class="table">
                                <thead></thead>
                                <tbody>
                                    <tr>
                                        <td><span class="fas fa-envelope"></span> - @Model.Email</td>
                                    </tr>
                                    <tr>
                                        <td><span class="fas fa-user"></span> - @Model.UserName</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xl-2"></div>
                </div>
            </div>
            <!--begin::Form-->
            <div class="my-5">
                <form asp-controller="Account" asp-action="ChangePassword" method="post" class="form">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3"></div>
                            <div class="col-xl-6">
                                <p style="font-size: 17px" class="text-dark font-weight-bold mb-10">ChangePassword</p>
                                <div class="form-group row">
                                    <label for="OldPassword" class="col-xl-3 col-lg-3 col-form-label text-alert"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="password" for="OldPassword" name ="OldPassword" class="form-control" placeholder="CurrentPassword" />
                                        <div class="fv-plugins-message-container">
                                            <span for="OldPassword" class="fv-help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="NewPassword" class="col-xl-3 col-lg-3 col-form-label text-alert"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="password" name ="NewPassword" for="NewPassword" class="form-control" placeholder="NewPassword" />
                                        <div class="fv-plugins-message-container">
                                            <span for="NewPassword" class="fv-help-block"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ConfirmPassword" class="col-xl-3 col-lg-3 col-form-label text-alert"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <input type="password" name ="ConfirmPassword" for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                                        <div class="fv-plugins-message-container">
                                            <span for="ConfirmPassword" class="fv-help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2"></div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-xl-3"></div>
                            <div class="col-xl-6">
                                <div class="col-lg-9 text-right">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2"></div>
                    </div>
                </form>
            </div>
            <!--end::Form-->
        </div>
        <!--end::Change Password-->
    </div>