﻿@model TopMenuModel

<div id="kt_header_menu" class="header-menu header-menu-mobile header-menu-layout-default">
    <ul class="menu-nav">
        @foreach (var topMenuItem in Model.TopMenuItems)
        {
            if (topMenuItem.SubMenuModel.Any())
            {
                var activeClassName = topMenuItem.Selected ? "menu-item-open menu-item-here" : "";
                <li class="menu-item menu-item-submenu menu-item-rel @activeClassName" data-menu-toggle="click" aria-haspopup="true">
                    <a href="javascript:;" class="menu-link menu-toggle">
                        <span class="menu-text">@topMenuItem.Title</span>
                        <span class="menu-desc"></span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu menu-submenu-classic menu-submenu-left">
                        <ul class="menu-subnav">
                            @foreach (var subItem in topMenuItem.SubMenuModel)
                            {
                                @await Html.PartialAsync("_SubMenuItem", subItem)
                            }
                        </ul>
                    </div>
                </li>
            }
            else
            {
                var activeClassName = topMenuItem.Selected ? "menu-item-active" : "";
                <li class="menu-item @activeClassName" aria-haspopup="true">
                    <a href="@topMenuItem.RedirectUrl" class="menu-link">
                        <span class="menu-text">@topMenuItem.Title</span>
                    </a>
                </li>
            }
        }
    </ul>
</div>