﻿@model EditCategoryViewModel

@{
    Layout = null;
}

<div class="modal" id="js-entity-action-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Category" asp-action="Edit" method="post" class="form"  enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />

                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-1  col-md-1"></div>
                            <div class="col-xl-10  col-md-10">

                                <div class="form-group">
                                    <label asp-for="ParentCategoryId"></label>
                                    <select asp-for="ParentCategoryId" asp-items="Model.ParentCategories" data-placeholder="Parent Category" class="js-select2-search w-100 form-control form-control-solid"></select>
                                    <div class="fv-plugins-message-container">
                                        <span asp-validation-for="ParentCategoryId" class="fv-help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Thumbnail"></label>
                                    <input asp-for="Thumbnail" data-placeholder="Thumbnail" class="w-100 form-control form-control-solid" />
                                    <div class="fv-plugins-message-container">
                                        <span asp-validation-for="Thumbnail" class="fv-help-block"></span>
                                    </div>
                                </div>

                                @Html.EditorFor(m => m.Name)

                            </div>
                            <div class="col-xl-1  col-md-1"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary js-entity-action">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>