﻿@model CategoriesFilterViewModel

<div class="kt-search-form">
    <div class="kt-search-body row align-items-center">
        <div class="col-lg-10 col-xl-12">
            <div class="d-flex justify-content-between flex-wrap align-items-center">
                <div class="d-flex justify-content-between flex-wrap align-items-center">
                    @*<div class="input-icon">
                            <input asp-for="" type="text" class="form-control js-search-field" placeholder="Id" style="width:350px" />
                            <span>
                                <i class="flaticon2-search-1 text-muted"></i>
                            </span>
                        </div>

                        <div class="input-icon">
                            <input asp-for="City" type="text" class="form-control js-search-field" placeholder="City" style="width:350px" />
                            <span>
                                <i class="flaticon2-search-1 text-muted"></i>
                            </span>
                        </div>

                        <div class="input-icon">
                            <input asp-for="Street" type="text" class="form-control js-search-field" placeholder="Street" style="width:350px" />
                            <span>
                                <i class="flaticon2-search-1 text-muted"></i>
                            </span>
                        </div>

                        <div class="input-icon">
                            <input asp-for="District" type="text" class="form-control js-search-field" placeholder="District" style="width:350px" />
                            <span>
                                <i class="flaticon2-search-1 text-muted"></i>
                            </span>
                        </div>

                        <div class="input-icon">
                            <input asp-for="Country" type="text" class="form-control js-search-field" placeholder="Country" style="width:350px" />
                            <span>
                                <i class="flaticon2-search-1 text-muted"></i>
                            </span>
                        </div>*@

                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_KtCard", Model.KtCardModel)
