﻿@{ 
//var rqf = Context.Request.HttpContext.Features.Get<IRequestCultureFeature>();
//var culture = rqf.RequestCulture.Culture;

//var selectedLanguageImgPath = "/lib/metronic/dist/media/svg/flags/georgia.svg";

//if (culture.Name == "en-US")
//{
//    selectedLanguageImgPath = "/lib/metronic/dist/media/svg/flags/usa.svg";
//}
}

@*<div class="dropdown" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="Select languages">
    <a href="#" class="btn btn-icon btn-hover-text-primary btn-lg" data-toggle="dropdown" data-offset="0px,0px">
        <img class="w-20px h-20px rounded" src="@selectedLanguageImgPath" alt="image" />
    </a>
    <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-left">
        <ul class="navi navi-hover py-4">
            <li class="navi-item">
                <a href="@Url.Action("SetCulture", "Home", new { culture = "ka-GE", returnUrl = $"{Context.Request.Path}{Context.Request.QueryString}" })" class="navi-link">
                    <span class="symbol symbol-20 mr-3">
                        <img src="~/lib/metronic/dist/media/svg/flags/georgia.svg" alt="" />
                    </span>
                    <span class="navi-text">Georgian</span>
                </a>
            </li>
            <li class="navi-item active">
                <a href="@Url.Action("SetCulture", "Home", new { culture = "en-US", returnUrl = $"{Context.Request.Path}{Context.Request.QueryString}" })" class="navi-link">
                    <span class="symbol symbol-20 mr-3">
                        <img src="~/lib/metronic/dist/media/svg/flags/usa.svg" alt=""/>
                    </span>
                    <span class="navi-text">English</span>
                </a>
            </li>
        </ul>
    </div>
</div>*@