﻿@model LogoModel

@if (Model.IsMobileViewLogo)
{
    <a href="@Url.Action("Index","Home")">
        <img src="~/images/logo.sidemenu.png" class="logo-default max-h-30px" alt="@Model.CompanyName"  />
    </a>
 
}
else
{
    <a class="btn p-0 symbol symbol-60 symbol-light-primary" href="@Url.Action("Index","Home")">
        <div class="symbol-label">
            <img src="~/images/logo.sidemenu.png" class="h-75 align-self-end" alt="@Model.CompanyName" />
        </div>
    </a>
}
