﻿@model KtCardInfoModel

<div class="card-title">
    <h3 class="card-label">
        @Model.Title
        <i class="mr-2"></i>
        <small>@Model.SubTitle</small>
        @*<span class="d-block text-muted pt-2 font-size-sm"></span>*@
    </h3>
</div>