﻿@model KtCardModel

<div class="container-fluid">
    <!--begin::Card-->
    <div class="card card-custom">
        <div class="card-header flex-wrap border-0 pt-6 pb-0">
            @if (Model.KtCardInfoModel != null)
            {
                @await Html.PartialAsync("_KtCardInfo", Model.KtCardInfoModel)
            }
            @if (Model.KtCardActionModel != null)
            {
                @await Html.PartialAsync("_KtCardAction", Model.KtCardActionModel)
            }
        </div>
        <div class="card-body">
            @if (Model.KtComponentModel != null)
            {
                @await Component.InvokeAsync(Model.KtComponentModel.ComponentName, Model.KtComponentModel.Data)
            }

            <div class="mb-7" id="search-@Model.KtDatatableModel?.DatatableName">
            </div>

            @if (Model.KtDatatableModel != null)
            {
                @await Html.PartialAsync("_KtDatatable", Model.KtDatatableModel)
            }
        </div>
    </div>
    <!--end::Card-->
</div>
