﻿@model KtCardActionModel
<div class="card-toolbar">
    @if (Model.ActionItems != null)
    {
        foreach (var item in Model.ActionItems)
        {
            if (item.SubActions != null && item.SubActions.Where(x => !x.Hide).Any())
            {
                var ajaxAction = item.IsCustomAction ? string.Empty : "js-entity-action";

                if (!item.Hide)
                {
                    <div class="btn-group" role="group">
                        <button type="button" class="btn @item.CustomClassName @ajaxAction font-weight-bold dropdown-toggle mr-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (!string.IsNullOrEmpty(item.IconClassName))
                            {
                                <i class="@item.IconClassName"></i>
                            }

                            @item.Name
                        </button>
                        <div class="dropdown-menu dropdown-menu-m dropdown-menu-right">
                            <ul class="navi flex-column navi-hover py-2">
                                <li class="navi-header font-weight-bolder text-uppercase font-size-sm text-primary pb-2">Actions:</li>
                                @foreach (var subItem in item.SubActions)
                                {
                                    @if (!subItem.Hide)
                                    {
                                        ajaxAction = item.IsCustomAction ? string.Empty : "js-entity-action";

                                        <li class="navi-item">
                                            <a href="@subItem.ActionUrl" class="dropdown-item @subItem.CustomClassName @ajaxAction">
                                                @if (!string.IsNullOrEmpty(subItem.IconClassName))
                                                {
                                                    <span class="navi-icon">
                                                        <i class="@subItem.IconClassName"></i>
                                                    </span>
                                                }

                                                <span class="navi-text">@subItem.Name</span>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
            }
            else
            {
                if (!item.Hide)
                {
                    var ajaxAction = item.IsCustomAction ? string.Empty : "js-entity-action";
                    <a href="@item.ActionUrl" class="btn font-weight-bolder mr-2 @item.CustomClassName @ajaxAction">
                        @if (!string.IsNullOrEmpty(item.IconClassName))
                        {
                            <i class="@item.IconClassName"></i>
                        }
                        @item.Name
                    </a>
                }
            }
        }
    }
</div>