﻿@model KtDatatableModel

<div class="datatable datatable-bordered datatable-head-custom js-kt-table" id="@Model.DatatableName"></div>
<script>
    $(document).ready(function () {
            KtDatatable.setUpTable(@Html.Raw(Json.Serialize(Model)))
    });
</script>