﻿@{
    Layout = "_Structure";
}

<!--begin::Main-->
<!--begin::Header Mobile-->
<div id="kt_header_mobile" class="header-mobile header-mobile-fixed">
    @await Component.InvokeAsync("Logo", new { isMobileViewLogo = true })
    @await Html.PartialAsync("_Toolbar")
</div>
<!--end::Header Mobile-->

<div class="d-flex flex-column flex-root">

    <!--begin::Page-->
    <div class="d-flex flex-row flex-column-fluid page">

        <!--begin::Aside-->
        <div class="aside aside-left d-flex flex-column" id="kt_aside">
            <div class="aside-brand d-flex flex-column align-items-center flex-column-auto pt-18 pb-10">
                @await Component.InvokeAsync("Logo", new { isMobileViewLogo = false })
            </div>
            @await Component.InvokeAsync("SideMenu")
        </div>
        <!--end::Aside-->
        <!--begin::Wrapper-->
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            @await Html.PartialAsync("_Header")

            <!--begin::Content-->
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

                <!--begin::Entry-->
                <div class="d-flex flex-column-fluid">
                    @RenderBody()
                </div>
                <!--end::Entry-->

            </div>
            <!--end::Content-->

            @await Component.InvokeAsync("Footer")
        </div>
        <!--end::Wrapper-->

    </div>
    <!--end::Page-->

</div>
<!--end::Main-->

@await Html.PartialAsync("_Scrolltop")