﻿@model SideMenuItem
@{
    var menuModel = Model.MenuModel;
    var selectedClassName = menuModel.Selected ? "active" : "";
}

<a href="@menuModel.RedirectUrl" class="nav-link btn btn-icon btn-hover-text-primary btn-lg @selectedClassName @menuModel.ClassName" data-toggle="tooltip" data-placement="right" data-container="body" data-boundary="window" title="@menuModel.Title">
    @if (!string.IsNullOrEmpty(menuModel.IconPath))
    {
        <span class="svg-icon svg-icon-xxl">
            <img src="~/lib/metronic/dist/media/menu/@menuModel.IconPath" />
        </span>
    }
    else
    {
        <i class="@menuModel.IconClassName"></i>
    }

</a>
