﻿<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="utf-8" />
    <title> @ViewData["Title"] - Betshop Admin</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="BetshopAdmin App" name="description" />
    <meta content="BetshopAdmin" name="author" />
    <link rel="shortcut icon" href="~/img//logo.png" type="image/png" />

    <environment include="Development">
        <link href="~/css/global.css" rel="stylesheet" />
        <link href="~/lib/metronic/dist/plugins/global/plugins.bundle.css" rel="stylesheet" />
        <link href="~/lib/metronic/dist/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" />
        <link href="~/lib/uppy/uppy.bundle.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link href="~/bundles/global.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/bundles/metronic.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <link href="~/lib/metronic/dist/css/style.bundle.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<body id="kt_body" class="header-mobile-fixed sidebar-enabled page-loading">
    <script>
    var locals = {};
        function localsMapper(object) {
            if (locals && locals.constructor === Object) {
                if (Object.keys(locals).length === 0) {
                    locals = object;
                }
                else {
                    Object.keys(object).map(function (key) {
                        locals[key] = object[key];
                    });
                }
            }
        }</script>

    @RenderBody()

    <environment include="Development">
        <script src="~/js/app.js"></script>
        <script src="~/js/plugin-cmd.js"></script>
        <script src="~/lib/bootbox/bootbox.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/bundles/global.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/lib/uppy/uppy.bundle.js"></script>

    <script>
    var KTAppSettings = PluginCmd.returnGlobalKTAppSettings();

        $(document).ready(function () {
            App.init();
        });</script>

    <environment include="Development">
        <script src="~/lib/metronic/dist/plugins/global/plugins.bundle.js"></script>
        <script src="~/lib/metronic/dist/plugins/custom/prismjs/prismjs.bundle.js"></script>
        <script src="~/lib/metronic/dist/js/scripts.bundle.js"></script>
        <script src="~/lib/metronic/dist/js/pages/widgets.js"></script>

        <script src="~/js/ktDatatable-cmd.js"></script>
        <script src="~/js/ktDatatable.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/bundles/metronic.js" asp-append-version="true"></script>
        <script src="~/bundles/ktDatatable.global.min.js" asp-append-version="true"></script>
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.dynamic.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/bundles/global.jquery.validate.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>