﻿@model MenuModel
@if (!string.IsNullOrEmpty(Model.IconPath))
{
    <span class="svg-icon menu-icon">
        <img src="~/lib/metronic/dist/media/menu/@Model.IconPath" />
    </span>
}
else
{
    <i class="@Model.IconClassName">
        <span></span>
    </i>
}
