﻿@model MenuModel
@{
    var hasAnySubMenu = Model.SubMenuModel.Any();
    var hrefUrl = hasAnySubMenu ? "javascript:;" : Model.RedirectUrl;
    var className = hasAnySubMenu ? "menu-toggle" : "";
}

@if (hasAnySubMenu)
{
    var activeClassName = Model.Selected ? "menu-item-open menu-item-here" : "";
    <li class="menu-item menu-item-submenu @activeClassName" data-menu-toggle="hover" aria-haspopup="true">
        <a href="javascript:;" class="menu-link menu-toggle">
            @await Html.PartialAsync("_SubMenuItemIcon", Model)
            <span class="menu-text">@Model.Title</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="menu-submenu menu-submenu-classic menu-submenu-right">
            <ul class="menu-subnav">
                @foreach (var subItem in Model.SubMenuModel)
                {
                    @await Html.PartialAsync("_SubMenuItem", subItem)
                }
            </ul>
        </div>
    </li>
}
else
{
    var activeClassName = Model.Selected ? "menu-item-active" : "";
    <li class="menu-item @activeClassName" aria-haspopup="true">
        <a href="@Model.RedirectUrl" class="menu-link">
            @await Html.PartialAsync("_SubMenuItemIcon", Model)
            <span class="menu-text">@Model.Title</span>
        </a>
    </li>
}
