﻿@model ReportFilterViewModel

<div class="kt-search-form">
    <div class="kt-search-body row align-items-center">
        <div class="col-lg-10 col-xl-12">
            <div class="d-flex flex-row ">
                <div class="input-icon p-2">
                    <label class="control-label" asp-for="BeginDate">Begin Date</label>
                    @Html.EditorFor(m => m.BeginDate, "DateAndTime", new { @class = "js-search-field" })
                </div>
                <div class="input-icon p-2">
                    <label class="control-label" asp-for="EndDate">End Date</label>
                    @Html.EditorFor(m => m.EndDate, "DateAndTime", new { @class = "js-search-field" })
                </div>
                <div class="input-icon p-2">
                    <label class="control-label"></label>
                    <button type="submit" class="btn btn-success export">Export</button>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_KtCard", Model.KtCardModel)

<script type="text/javascript">
    $(document).ready(function () {
        $(".export").click(function () {
            var baseUrl = "/ReportingManagement/Report/export?";
            var beginDate = $("#BeginDate").val();
            var endDate = $("#EndDate").val();

            var url = baseUrl + beginDate + endDate;

            window.open(url);
        });
    })
</script>