﻿@model EditUserViewModel

@{
    Layout = null;
}

<div class="modal" id="js-entity-action-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="User" asp-action="Edit" method="post" class="form">

                    <input type="hidden" asp-for="Id" />

                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-1 col-md-1"></div>
                            <div class="col-xl-10 col-md-10">

                                <div class="form-group">
                                    <label asp-for="FirstName"></label>
                                    <input asp-for="FirstName" data-placeholder="FirstName" class="w-100 form-control form-control-solid" />
                                    <div class="fv-plugins-message-container">
                                        <span asp-validation-for="FirstName" class="fv-help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <input asp-for="LastName" data-placeholder="LastName" class="w-100 form-control form-control-solid" />
                                    <div class="fv-plugins-message-container">
                                        <span asp-validation-for="LastName" class="fv-help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" data-placeholder="Email" class="w-100 form-control form-control-solid" />
                                    <div class="fv-plugins-message-container">
                                        <span asp-validation-for="Email" class="fv-help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="PhoneNumber"></label>
                                    <input asp-for="PhoneNumber" data-placeholder="PhoneNumber" class="w-100 form-control form-control-solid" />
                                    <div class="fv-plugins-message-container">
                                        <span asp-validation-for="PhoneNumber" class="fv-help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="BirthDate"></label>
                                    @Html.EditorFor(m => m.BirthDate)
                                    <div class="fv-plugins-message-container">
                                        <span asp-validation-for="BirthDate" class="fv-help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Role"></label>
                                    <select asp-for="Role" asp-items="Model.Roles" data-placeholder="Role" class="js-select2-search w-100 form-control form-control-solid"></select>
                                    <div class="fv-plugins-message-container">
                                        <span asp-validation-for="Role" class="fv-help-block"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-xl-1 col-md-1"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary js-entity-action">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>