﻿@model UsersFilterViewModel

<div class="kt-search-form">
    <div class="kt-search-body row align-items-center">
        <div class="col-lg-10 col-xl-12">
            <div class="d-flex justify-content-between flex-wrap align-items-center">
                <div class="d-flex justify-content-between flex-wrap align-items-center">
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_KtCard", Model.KtCardModel)