﻿@model DateTime?

@{
    var dictionary = new Dictionary<string, object>()
{
        { "class", "form-control form-control-solid kt_datetimepicker" },
        { "readonly", "readonly" }
    };

    if (ViewBag != null && ViewBag is Dictionary<string, object>)
    {
        var obj = (Dictionary<string, object>)ViewBag;
        foreach (var key in obj.Keys)
        {
            if (dictionary.ContainsKey(key))
            {
                dictionary[key] = dictionary[key].ToString() + " " + obj[key].ToString();
            }
            else
            {
                dictionary.Add(key, obj[key]);
            }
        }
    }

    if (ViewData != null)
    {
        var obj = ViewData.ToDictionary(k => k.Key, v => v.Value);

        foreach (var key in obj.Keys)
        {
            if (dictionary.ContainsKey(key))
            {
                dictionary[key] = dictionary[key].ToString() + " " + obj[key].ToString();
            }
            else
            {
                dictionary.Add(key, obj[key]);
            }
        }
    }
}

<div class="input-group date">
    @Html.TextBox(string.Empty, Model.HasValue ? Model.Value.ToString("MM.dd.yyyy hh:mm") : string.Empty, dictionary)

    <div class="input-group-append">
        <span class="input-group-text">
            <i class="la la-calendar"></i>
        </span>
    </div>
</div>