﻿@model DateTime?

<div class="input-group date">
    @Html.TextBox(string.Empty, Model.HasValue ? Model.Value.ToString("dd/MM/yyyy") : string.Empty, new
{
    @readonly = "readonly",
        @class = "form-control form-control-solid kt_datepicker"
})
    <div class="input-group-append">
        <span class="input-group-text">
            <i class="la la-calendar"></i>
        </span>
    </div>
</div>