﻿@model Betasuchus.Shared.MultilanguageString
    <hr />
    <h3>@(ViewBag.TranslationTitle ?? string.Empty)</h3>
    <div class="form-group">
        <label asp-for="Georgian"></label>
        <input type="text" asp-for="Georgian" class="form-control" />
        <div class="fv-plugins-message-container">
            <span asp-validation-for="Georgian" class="fv-help-block"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="English"></label>
        <input type="text" asp-for="English" class="form-control" />
        <div class="fv-plugins-message-container">
            <span asp-validation-for="English" class="fv-help-block"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Turkish"></label>
        <input type="text" asp-for="Turkish" class="form-control" />
        <div class="fv-plugins-message-container">
            <span asp-validation-for="Turkish" class="fv-help-block"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Russian"></label>
        <input type="text" asp-for="Russian" class="form-control" />
        <div class="fv-plugins-message-container">
            <span asp-validation-for="Russian" class="fv-help-block"></span>
        </div>
    </div>
